<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sbu.spring.dao.mybatis.mapper.EventMapper">
	<cache />

	<select id="getEventList" resultType="sbu.spring.domain.Event">
		SELECT
		EVENTDB.event_num As
		eventNum,
		EVENTDB.event_name As eventName,
		EVENTDB.event_start_Date As
		eventStartDate,
		EVENTDB.event_end_Date As
		eventEndDate,
		EVENTDB.event_text As eventText
		FROM EVENTDB
	</select>

	<insert id="insertEvent">
		INSERT INTO EVENTDB
		(EVENT_NUM, EVENT_NAME,
		EVENT_START_DATE, EVENT_END_DATE, EVENT_TEXT)
		VALUES
		(seq_event_num.NEXTVAL, #{eventName, jdbcType=VARCHAR},
		#{eventStartDate, jdbcType=INTEGER},
		#{eventEndDate, jdbcType=INTEGER}, #{eventText, jdbcType=VARCHAR})
	</insert>

	<delete id="deleteEvent" parameterType="int">
		DELETE FROM EVENTDB
		WHERE
		EVENT_NUM = #{eventNum}
	</delete>
</mapper>