<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
<title>제목</title>
</head>
<body>
#parse("/template/header.vm")
<hr />
$screen_content
<hr/>
#parse("/template/footer.vm")
</body>
</html>
